.tweet {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 400px;
    height: 122px;
    margin: auto;
    margin-bottom: 2em;
    margin-top : 4em;
    background-color: rgb(222, 224, 228);
    opacity: 0.7;
  }

  .tweet:hover {
    opacity: 1;
  }
  header{  
    background-color : lightgreen;
    height : 1.8rem;
    border-radius : 4px 4px 0px 0px;
    display: flex;
    flex-direction: row;
  }

  header p {
    margin-top : 0.3rem;
    vertical-align : middle;
    color: purple;
  }

  h3 {
    margin: 0;
    padding-top : 4px;
    color : purple;
    /* vertical-align : middle */
  }

  .body-text {
    height: 2.5rem;
    margin-left : 0.5rem;
    overflow-wrap: break-word;
    font-size: 15px;
  }

  .avatar {
    float: left;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: .5rem;
    margin-top: 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .footer {
    background-color : lightgreen; 
    font-size : 0.7rem; 
    height: 1.3rem;
    color : purple;
    border-radius : 0px 0px 4px 4px;
    display : flex;
    flex-direction : row;
    padding-left: .5rem; 
    padding-top: .25rem; 
  }

  .icons { 
    opacity: 0.2;
    margin-left : 17.25rem;
    float: right;
    padding-top: 3px;
    padding-right : 4px;   
 }
 
 .icons:hover {
    opacity: 1;
 }


